@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #ffffff;
    --primary-blue: #2F52E0;
    --dark-blue: #202B39;
    --black: #000000;
    --gray: #E9EAEB;
    --inter-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}


html,
body {
    height: 100vh;
    width: 100vw;
    font-family: var(--inter-font);
    color: var(--black);
}

#page1,
#page2,
#page3,
#page4,
#page5 {
    width: 100%;
}

#page1 .container {
    background-color: var(--white);
}

#page1 .container__header {
    width: 100%;
    height: 50%;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(90deg, #2F52E0 0%, #1CA8E6 100%);
}

#page1 .container__header__logo {
    border-radius: 0 0 25px 25px;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--white);
    padding: 10px 20px 10px 20px;
    margin-bottom: 3rem;
}

#page1 .container__header__logo--logo {
    width: 30px;
    height: 35px;
    border-radius: 0 0 0 25px;
}

#page1 .container__header__logo--text {
    color: var(--primary-blue);
    font-size: 25px;
}

#page1 .container__header__family {
    position: absolute;
    right: 0;
    bottom: 0;
}

#page1 .container__header__family--image {
    margin-bottom: -15px;
    height: 400px;
}

#page1 .container__header__left--text {
    margin-left: 8%;
    font-size: 3rem;
    color: var(--white);
    text-transform: uppercase;
    line-height: 4rem;
    position: absolute;
    font-weight: bold;
}

#page1 .container__header__left__ticket {
    position: relative;
    height: 50vh;
}

#page1 .container__header__left__ticket--image {
    position: absolute;
    top: 3rem;
}


#page1 .container__header__left__ticket--image {
    height: 13rem;
    width: 25rem;
    margin-top: 12%;
    margin-left: 12%;
}

#page1 .container__second {
    margin-top: 4rem;
}

#page1 .container__middle {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* border:2px solid black; */
    background-color: aquamarine;
}

#page1 .container__middlle--path {
    /* border:2px solid black; */
    height: 3rem;
    position: absolute;
}

#page1 .container__middlle--plane {
    /* border:2px solid black; */
    width: 30px;
    height: 30px;
    rotate: -5deg;
    position: absolute;
    margin-top: -2px;
    right: 24%;
}

#page1 .container__middlle__image {
    width: 70%;
    border: 1px solid black;
}

#page1 .container__middlle--text {
    /* border: 2px solid black; */
    position: absolute;
    top: 0.1rem;
    margin-left: 19px;
    font-size: 2.5rem;
    font-weight: 500;
    z-index: 10;
    text-transform: uppercase;
    color: #5ED0E6;
}

#page1 .container__middlle--text2 {
    color: #2F52E0;
}

#page1 .container__middlle--text1 {
    color: #5ED0E6;
}

#page1 .container__service {
    margin: 8rem 0 6rem 0;
}

#page1 .container__service__section {
    align-self: center;
    margin: auto;
    width: 70%;
    height: 30%;
    /* border:2px solid black;. */
    display: flex;
    justify-content: space-between;
}

#page1 .container__service__section__service1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

#page1 .container__service__section__service1--image {
    height: 4rem;
}

#page1 .container__service__section__service1--text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

#page1 .container__safety {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
    background-color: #5ED0E6;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

#page1 .container__safety__heading {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
}

#page1 .container__safety__cards {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 4rem 4rem 8rem 4rem;
    /* border:2px solid black */
}

#page1 .container__safety__cards--card {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 300px;
    /* border:2px solid black; */
    background-color: var(--white);
    border-radius: 20px;
}

#page1 .container__safety__cards--card--img img {
    margin: 0 auto;
    width: 200px;
    height: 100px;
}

#page1 .container__safety__cards--card--text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 3rem;
}

#page1 .container__safety__fee {
    border-radius: 43px 43px 0 0;
    padding: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin-bottom: -2rem;
    background-color: rgba(253, 254, 255, 0.7);
}

#page1 .container__safety__fee--heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 20px;
}

#page1 .container__safety__fee--subheading {
    font-size: 1rem;
    color: grey;
}

#page1 .footer {
    height: 15rem;
    width: 100%;
    background: linear-gradient(to right, #5ED0E6 0%, #D1F0F8 100%);
}

#page1 .container__footer {
    border-radius: 20px 20px 0 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 2rem 5rem 3rem;
}

#page1 .container__footer--text {
    font-size: 1rem;
    color: grey;
    margin-bottom: 1.6rem;
}

#page1 .container__footer--support {
    display: flex;
    overflow: hidden;
    height: 4.5rem;
    border: 2px solid #2F52E0;
    border-radius: 20px;
}

#page1 .footer__support--button {
    padding: 0 2rem 0;
    display: flex;
    gap: 15px;
    height: 100%;
    width: auto;
    background-color: #2F52E0;
    color: var(--white);
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

#page1 .footer__support--button img {
    height: 3rem;
}

#page1 .footer__support--details {
    margin: 0 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* border: 2px solid black; */
    text-align: start;
    padding-top: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}

#page1 .footer__support--details--links {
    color: #2F52E0;
}

/*# sourceMappingURL=styles.css.map */

#page2 .container {
    width: 100vw;
    background-color: var(--white);
    padding-bottom: 0.4rem;
}

#page2 .container__top img {
    width: 100vw;
}

#page2 .container__details {
    margin: 0 5rem;
}

#page2 .container__details--caption {
    margin: 1rem 0;
    text-align: center;
}

#page2 .container__details__banner {
    height: 4rem;
    border-radius: 10px;
    background: linear-gradient(90deg, #6AE2FF 0%, #2F52E0 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page2 .container__details__banner--text {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
}

#page2 .container__details--congrats {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 3rem 0;
}

#page2 .container__customer--parent {
    border: 1px solid black;
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(to right, #3a4ed5, #3acfd5);
    border-style: solid;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 4rem;
}

#page2 .conatiner__details--customer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    margin-top: 1.5rem;
}

#page2 .conatiner__details--customer--heading {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: -20px;
    margin-left: -2px;
    background-color: #2F52E0;
    color: var(--white);
    padding: 0.5rem 1.3rem;
    border-radius: 10px;
}

#page2 .conatiner__details--customer--details {
    padding: 1rem;
    text-align: start;
}

#page2 .conatiner__details--customer--details--heading {
    font-size: 1.2rem;
    font-weight: 600;
}

#page2 .conatiner__details--customer--details--subheading {
    font-size: 1.2rem;
    font-weight: 600;
    color: grey;
}

#page2 .pec {
    width: 100%;
    margin: 0 0;
    background-color: var(--gray);
    padding: 1.5vw 4vw;
    text-align: justify;
}

#page2 .pec__title {
    color: #59595C;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

#page2 .pec__text {
    font-size: 1rem;
    color: #323F4F;
}

#page2 .table__section {
    height: auto;
    position: relative;
}

#page2 .table__section__heading {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 20px 20px 0 0;
    background-color: #2F52E0;
    color: var(--white);
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    margin-bottom: 40px;
    margin-left: 4rem;
    top: -2.7rem;
    height: 4rem;
}

#page2 .table__parent__container {
    position: relative;
    height: auto;
    border: 2px solid #3acfd5;
    border-radius: 22px;
    margin: 4rem;
}

#page2 .container__table {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    text-align: center;
}

#page2 .table__heading {
    border-radius: 22px 22px 0 0;
    padding: 0.5rem 0;
    background-color: #3acfd5;
    font-size: 1.4rem;
    font-weight: 600;
}

#page2 .table__heading:nth-child(2) {
    border-radius: 0;
    border-left: 1px solid #209bb3;
    border-right: 1px solid #209bb3;
}

#page2 .table__heading:first-child {
    border-radius: 19px 0 0 19px;
    border-right: 1px solid #209bb3;
}

#page2 .table__heading:nth-child(3) {
    border-radius: 0 19px 19px 0;
    border-left: 1px solid #209bb3;
}

#page2 .table__content {
    border: 1px solid #3acfd5;
    padding: 0.3rem 0;
    font-size: 1rem;
    font-weight: 300;
}

#page2 .table__content:nth-child(4) {
    border-top: 1px solid white;
}

#page2 .table__content:nth-child(5) {
    border-top: 1px solid white;
}

#page2 .table__content:nth-child(6) {
    border-top: 1px solid white;
}

#page2 .table__content:last-child {
    border-radius: 0 0 20px 0;
}

#page2 .table__content:nth-last-child(3) {
    border-radius: 0 0 0 20px;
}

/*# sourceMappingURL=styles.css.map */

#page3 .container {
    width: 85%;
    margin: 0 auto;
    margin: 2rem auto;
}

#page3 .container__title {
    color: var(--primary-blue);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#page3 .container__table {
    border-collapse: collapse;
    width: 100%;
}

#page3 .container__table__heading {
    text-align: center;
    color: #323F4F;
    font-size: 1rem;
    border: 1px solid #5ED0E6;
    border-bottom: none;
    border-top: none;
    border-radius: 0.5rem 0.5rem 0 0;
}

#page3 .container__table__heading__title {
    border-radius: 0.5rem;
    padding: 1.5vw 0;
    background-color: #5ED0E6;
}

#page3 .container__table td {
    width: 50%;
    border: 1px solid #5ED0E6;
    padding: 1vw 1vw 1vw 2vw;
}

#page3 .container__table tr:nth-child(2) td {
    border-top: 0px;
}

#page3 .pec {
    width: 100%;
    margin: 1rem 0;
    background-color: var(--gray);
    padding: 1.5vw 4vw;
    text-align: justify;
}

#page3 .pec__title {
    color: #59595C;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

#page3 .pec__text {
    font-size: 1rem;
    color: #323F4F;
}

#page3 .coverage {
    width: 90%;
    margin: 2rem auto;
    padding: 2vw 1vw;
}

#page3 .coverage__title {
    font-size: 1.3rem;
    color: var(--primary-blue);
    margin-bottom: 1rem;
}

#page3 .coverage__container {
    border-radius: 6px;
    overflow: hidden;
}

#page3 .coverage__container__covers {
    -o-border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
    border-width: 4px;
    border-style: solid;
    padding: 0 1rem;
}

#page3 .coverage__container__covers_item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem 0;
}

#page3 .coverage__container__covers_item img {
    width: 3rem;
    height: 3rem;
}

#page3 .coverage__container__covers_item__details__list li {
    text-align: justify;
    color: #323F4F;
    font-weight: 300;
}

#page3 .footer {
    background-color: var(--dark-blue);
    border-radius: 2rem 2rem 0 0;
    padding: 3vw 4vw 3vw 4vw;
    color: var(--white);
    line-height: 30px;
}

#page3 .footer__info {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
}

#page3 .footer__info__details {
    flex: 1;
}

#page3 .footer__info__details__heading {
    font-size: 1.5rem;
}

#page3 .footer__info__details__text {
    color: #7CE9FF;
}

#page3 .footer__info__details__list {
    list-style: none;
    font-size: 1rem;
}

#page3 .footer__info__details__list__item {
    display: flex;
    align-items: center;
}

#page3 .footer__info__details__list__item__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#page3 .footer__info__details__list__item__link {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 4px;
}

#page3 .footer__info__details__list__item__link:hover {
    text-decoration: none;
}

#page3 .footer__info__details__para {
    font-size: 1rem;
}

#page3 .footer__info__details__para span {
    font-weight: 700;
    line-gap-override: 0.5rem;
}

#page3 .footer__info__details__para span a {
    color: var(--white);
}

#page3 .footer__info__assistance {
    border-radius: 0.8rem;
    border: 2px solid var(--white);
    overflow: hidden;
    border-top: none;
}

#page3 .footer__info__assistance__heading {
    background-color: #11B3D8;
    padding: 1vw 2vw;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

#page3 .footer__info__assistance__list {
    list-style: none;
    font-size: 1rem;
    padding: 1vw 1.5vw;
}

#page3 .footer__info__assistance__list__item {
    display: flex;
    align-items: center;
}

#page3 .footer__info__assistance__list__item__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#page3 .footer__info__assistance__list__item__link {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 4px;
}

#page3 .footer__info__assistance__list__item__link:hover {
    text-decoration: none;
}

#page3 .footer__policy {
    margin-top: 1rem;
}

#page3 .footer__policy__para {
    text-align: justify;
    font-size: 0.9rem;
}

#page3 .footer__policy__para a {
    color: #11B3D8;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#page3 .footer__policy__para a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #page3 .container__table__heading__title {
        padding: 3vw 0;
    }

    #page3 .container__table td {
        padding: 2vw 1vw 2vw 3vw;
    }

    #page3 .pec {
        padding: 3vw 5vw;
    }

    #page3 .footer {
        padding: 5vw 5vw 3vw 5vw;
    }

    #page3 .footer__info__details__heading {
        font-size: 1.2rem;
    }

    #page3 .footer__info__details__list {
        font-size: 0.8rem;
    }
}

#page3 .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid #5ED0E6;
    border-right: 1px solid #5ED0E6;
    border-radius: 0 0 0.8rem 0.8rem;
}

#page3 .grid>span {
    padding: 1vw 3vw;
    border-left: 1px solid #5ED0E6;
    border-bottom: 1px solid #5ED0E6;
}

#page3 .grid>span:last-child {
    border-radius: 0 0 0.8rem 0;
}

#page3 .grid>span:nth-last-child(2) {
    border-radius: 0 0 0 0.8rem;
}

/*# sourceMappingURL=styles.css.map */

#page4 .header {
    width: 100%;
    display: flex;
    gap: 1rem;
    background-color: var(--primary-blue);
    color: var(--white);
}

#page4 .header__logo {
    background-color: #F2EFEF;
    padding: 2rem 3rem;
    border-radius: 0 0.8rem 0.8rem 0;
    flex: 1;
}

#page4 .header__logo__image {
    width: 25rem;
    height: 5rem;
}

#page4 .header__info {
    padding: 1rem 3rem 1rem 1rem;
    flex: 2;
    font-size: 1.5rem;
}

#page4 .header__info__text__heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#page4 .header__info__text__heading__icon {
    width: 1.5rem;
}

#page4 .header__info__text__details {
    border: 1px solid var(--white);
    margin: 1rem 0;
    border-radius: 0.8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#page4 .header__info__text__details__number {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--white);
    color: var(--primary-blue);
    padding: 1rem;
    border-radius: 0.8rem;
    /* flex: 3; */
}

#page4 .header__info__text__details__number img {
    width: 1.2rem;
}

#page4 .header__info__text__details__para {
    font-size: 1rem;
    padding: 0.5rem;
}

#page4 .container {
    width: 90%;
    margin: 3rem auto;
    position: relative;
}

#page4 .container__image {
    position: absolute;
    bottom: 0;
    right: 3rem;
    scale: 2;
    margin-bottom: 5%;
}

#page4 .customer {
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(var(--white), var(--white)), linear-gradient(to right, #3a4ed5, #3acfd5);
    border-style: solid;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#page4 .customer__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    margin-top: 1.5rem;
    place-items: center;
    padding-bottom: 1rem;
}

#page4 .customer___heading {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: -20px;
    margin-left: -2px;
    background-color: #2F52E0;
    color: var(--white);
    padding: 0.5rem 1.3rem;
    border-radius: 10px;
}

#page4 .customer__details__item {
    padding: 1rem;
    text-align: start;
}

#page4 .customer__details__heading {
    font-size: 1.2rem;
    font-weight: 600;
}

#page4 .customer__details__subheading {
    font-size: 1.2rem;
    font-weight: 600;
    color: #808080;
}

#page4 .services {
    margin-bottom: 10rem;
}

#page4 .services__heading {
    color: var(--primary-blue);
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
}

#page4 .services__details__item {
    margin-bottom: 3rem;
}

#page4 .services__details__heading {
    color: var(--white);
    background-color: var(--dark-blue);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: -moz-max-content;
    width: max-content;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

#page4 .services__details__heading img {
    width: 1.8rem;
}

#page4 .services__details__item__grid___container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

#page4 .grid__item {
    background-color: #D7F7FF;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#page4 .grid__item__heading {
    color: var(--primary-blue);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#page4 .footer {
    background-color: var(--gray);
    padding: 3rem 6rem 3rem 4rem;
    border-radius: 2rem 2rem 0 0;
}

#page4 .footer__text {
    color: #59595C;
}

#page5 .header {
    width: 100%;
    display: flex;
    gap: 1rem;
    background-color: var(--primary-blue);
    color: var(--white);
}

#page5 .header__logo {
    background-color: #F2EFEF;
    padding: 2rem 3rem;
    border-radius: 0 0.8rem 0.8rem 0;
    flex: 1;
}

#page5 .header__logo__image {
    width: 25rem;
    height: 5rem;
}

#page5 .header__info {
    padding: 1rem 3rem 1rem 1rem;
    flex: 2;
    font-size: 1.5rem;
}

#page5 .header__info__text__heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#page5 .header__info__text__heading__icon {
    width: 1.5rem;
}

#page5 .header__info__text__details {
    border: 1px solid var(--white);
    margin: 1rem 0;
    border-radius: 0.8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#page5 .header__info__text__details__number {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--white);
    color: var(--primary-blue);
    padding: 1rem;
    border-radius: 0.8rem;
    /* flex: 3; */
}

#page5 .header__info__text__details__number img {
    width: 1.2rem;
}

#page5 .header__info__text__details__para {
    font-size: 1rem;
    padding: 0.5rem;
}

#page5 .container {
    width: 90%;
    margin: 3rem auto;
    position: relative;
}

#page5 .container__image {
    position: absolute;
    bottom: 0;
    right: 3rem;
    scale: 2;
    margin-bottom: 5%;
}

#page5 .customer {
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(var(--white), var(--white)), linear-gradient(to right, #3a4ed5, #3acfd5);
    border-style: solid;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#page5 .customer__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    margin-top: 1.5rem;
    place-items: center;
    padding-bottom: 1rem;
}

#page5 .customer___heading {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: -20px;
    margin-left: -2px;
    background-color: #2F52E0;
    color: var(--white);
    padding: 0.5rem 1.3rem;
    border-radius: 10px;
}

#page5 .customer__details__item {
    padding: 1rem;
    text-align: start;
}

#page5 .customer__details__heading {
    font-size: 1.2rem;
    font-weight: 600;
}

#page5 .customer__details__subheading {
    font-size: 1.2rem;
    font-weight: 600;
    color: #808080;
}

#page5 .services {
    margin-bottom: 10rem;
}

#page5 .services__heading {
    color: var(--primary-blue);
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
}

#page5 .services__details__item {
    margin-bottom: 3rem;
}

#page5 .services__details__heading {
    color: var(--white);
    background-color: var(--dark-blue);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: -moz-max-content;
    width: max-content;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

#page5 .services__details__heading img {
    width: 1.8rem;
}

#page5 .services__details__item__grid___container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

#page5 .grid__item {
    background-color: #D7F7FF;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#page5 .grid__item__heading {
    color: var(--primary-blue);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#page5 .footer {
    background-color: var(--gray);
    padding: 3rem 6rem 3rem 4rem;
    border-radius: 2rem 2rem 0 0;
}

#page5 .footer__text {
    color: #59595C;
}

/*# sourceMappingURL=styles.css.map */