#page2 {
    .container {
        width: 100vw;
        background-color: var(--white);
        padding-bottom: 0.4rem;
    }

    .container__top img {
        width: 100vw;
    }

    .container__details {
        margin: 0 5rem;
    }

    .container__details--caption {
        margin: 1rem 0;
        text-align: center;
    }

    .container__details__banner {
        height: 4rem;
        border-radius: 10px;
        background: linear-gradient(90deg, #6AE2FF 0%, #2F52E0 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .container__details__banner--text {
        color: var(--white);
        font-size: 1.3rem;
        font-weight: 500;
    }

    .container__details--congrats {
        font-size: 2rem;
        font-weight: 600;
        margin: 2rem 0 3rem 0;
    }

    .container__customer--parent {
        border: 1px solid black;
        border: double 2px transparent;
        border-radius: 10px;
        background-image: linear-gradient(white, white), linear-gradient(to right, #3a4ed5, #3acfd5);
        border-style: solid;
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 4rem;

    }

    .conatiner__details--customer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        margin-top: 1.5rem;
    }

    .conatiner__details--customer--heading {
        position: absolute;
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: -20px;
        margin-left: -2px;
        background-color: #2F52E0;
        color: var(--white);
        padding: 0.5rem 1.3rem;
        border-radius: 10px;
    }

    .conatiner__details--customer--details {
        padding: 1rem;
        text-align: start;
    }

    .conatiner__details--customer--details--heading {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .conatiner__details--customer--details--subheading {
        font-size: 1.2rem;
        font-weight: 600;
        color: grey;
    }

    .pec {
        width: 100%;
        margin: 0 0;
        background-color: var(--gray);
        padding: 1.5vw 4vw;
        text-align: justify;
    }

    .pec__title {
        color: #59595C;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }

    .pec__text {
        font-size: 1rem;
        color: #323F4F;
    }

    .table__section {
        height: auto;
        position: relative;
    }

    .table__section__heading {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 20px 20px 0 0;
        background-color: #2F52E0;
        color: var(--white);
        width: fit-content;
        position: absolute;
        margin-bottom: 40px;
        margin-left: 4rem;
        top: -2.7rem;
        height: 4rem;
    }

    .table__parent__container {
        position: relative;
        height: auto;
        border: 2px solid #3acfd5;
        border-radius: 22px;
        margin: 4rem;
    }

    .container__table {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        text-align: center;
    }

    .table__heading {
        border-radius: 22px 22px 0 0;
        padding: 0.5rem 0;
        background-color: #3acfd5;
        font-size: 1.4rem;
        font-weight: 600;

        &:nth-child(2) {
            border-radius: 0;
            border-left: 1px solid #209bb3;
            border-right: 1px solid #209bb3;
        }

        &:first-child {
            border-radius: 19px 0 0 19px;
            border-right: 1px solid #209bb3;
        }

        &:nth-child(3) {
            border-radius: 0 19px 19px 0;
            border-left: 1px solid #209bb3;
        }
    }

    .table__content {
        border: 1px solid #3acfd5;
        padding: 0.3rem 0;
        font-size: 1rem;
        font-weight: 300;

    }

    .table__content {
        &:nth-child(4) {
            border-top: 1px solid white;
        }

        &:nth-child(5) {
            border-top: 1px solid white;
        }

        &:nth-child(6) {
            border-top: 1px solid white;
        }

        &:last-child {
            border-radius: 0 0 20px 0;
        }

        &:nth-last-child(3) {
            border-radius: 0 0 0 20px;
        }
    }
}