@import '../global.css';


.container{
    height:100vh;
    width: 100vw;
    background-color: var(--white);
}
.container__header{
    width: 100%;
    height: 50%;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(90deg, #2F52E0 0%, #1CA8E6 100%);
}
.container__header__logo{
    border-radius: 0 0 25px 25px;
    margin-left:8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:fit-content;
    background-color: var(--white);
    padding:10px 20px 10px 20px;
    margin-bottom: 3rem;
}
.container__header__logo--logo {
    width:30px;
    height:35px;
    border-radius: 0 0 0 25px;
}
.container__header__logo--text{
    color: var(--primary-blue);
    font-size: 25px;
}

.container__header__family{
    position: absolute;
    right:0;
    bottom:0;
}
.container__header__family--image{
    margin-bottom:-15px;
    height:400px;
}
.container__header__left--text{
    margin-left: 8%;
    font-size: 3rem;
    color:var(--white);
    text-transform: uppercase;
    line-height: 4rem;
    position:absolute;
    font-weight: bold;
}
.container__header__left__ticket--image{
    height:13rem;
    width:25rem;
    margin-top: 12%;
    margin-left: 12%;
    /* border:2px solid black; */
}
.container__second{
    margin-top: 4rem;
}
.container__middle{

    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
    /* border:2px solid black; */
    background-color: aquamarine;
}
.container__middlle--path{
    /* border:2px solid black; */
    height:3rem;
    position:absolute;
}
.container__middlle--plane{
    /* border:2px solid black; */
    width:30px;
    height:30px;
    rotate: -5deg;
    position:absolute;
    margin-top: -2px;
    right:24%;
}
.container__middlle__image{
    width: 70%;
    border: 1px solid black;
}
.container__middlle--text{
    /* border: 2px solid black; */
    position:absolute;
    top: 0.1rem;
    margin-left: 19px;
    font-size: 2.5rem;
    font-weight: 500;
    z-index: 10;
    text-transform: uppercase;
    color:#5ED0E6;

}
.container__middlle--text2{
    color:#2F52E0;
}
.container__middlle--text1{
    color:#5ED0E6;
}
.container__service{
    margin:8rem 0 6rem 0;
}
.container__service__section{
    align-self: center;
    margin:auto;
    width: 70%;
    height:30%;
    /* border:2px solid black;. */
    display: flex;
    justify-content: space-between;
    
}
.container__service__section__service1{
    display: flex;
    gap: 10px;
    flex-direction: column;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;

}
.container__service__section__service1--image{
    height:4rem;
}
.container__service__section__service1--text{
    font-size:1.5rem;
    text-align: center;
    font-weight:500;
}
.container__safety{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    height:auto;
    background-color: #5ED0E6;
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
}
.container__safety__heading{
    color:var(--white);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
}
.container__safety__cards{
    display:flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    gap:40px;
    margin:4rem 4rem 8rem 4rem;
    /* border:2px solid black */
}
.container__safety__cards--card{
    display: flex;
    width:50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height:300px;
    /* border:2px solid black; */
    background-color: var(--white);
    border-radius: 20px;
}
.container__safety__cards--card--img img{
    margin:0 auto;
    width:200px;
    height:100px
}
.container__safety__cards--card--text{
    text-align: center;
    font-size:1.2rem;
    font-weight: 500;
    margin: 0 3rem;
}
.container__safety__fee{
    border-radius: 43px 43px 0 0;
    padding:2rem;
    position:absolute;
    right:0;
    bottom:0;
    z-index: 10;
    margin-bottom: -2rem;
    background-color: rgba(253, 254, 255, 0.7);
}
.container__safety__fee--heading{
    font-size:1.2rem;
    font-weight: 500;
    color:var(--black);
    padding-bottom: 20px;
}
.container__safety__fee--subheading{
    font-size: 1rem;
    color:grey;
}   
.footer{
    height:15rem;
    width:100%;
    background:linear-gradient(to right,#5ED0E6 0% , #D1F0F8 100%);
}
.container__footer{
    border-radius: 20px 20px 0 0;
    height:auto;
    width:100%;
    background-color: #fff;
    padding:2rem 5rem 3rem;
}
.container__footer--text{
    font-size:1rem;
    color:grey;
    margin-bottom: 1.6rem;
}
.container__footer--support{
    display:flex;
    overflow: hidden;
    height:4.5rem;
    border:2px solid #2F52E0;
    border-radius: 20px;
}

.footer__support--button{
    padding:0 2rem 0;
    display: flex;
    gap: 15px;
    height:100%;
    width:auto;
    background-color: #2F52E0;
    color:var(--white);
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    img{
        height:3rem;
    }
}
.footer__support--details{
    margin:0 2rem;
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
    /* border: 2px solid black; */
    text-align: start;
    padding-top: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    color:grey;
}

.footer__support--details--links{
    color:#2F52E0
}
