@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #ffffff;
    --primary-blue: #2F52E0;
    --black: #000000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100vh;
    width:100vw;
    --inter-font: 'Inter', sans-serif;
}